/* FUENTES --------------------------------------------------------------------
//MAVEN PRO BOLD: font-family: 'Maven Pro', sans-serif;
//MAGINORS: font-family: Maginors; 
//JOST: font-family: 'Jost', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@font-face {
  font-family: Maginors;
  src: url(../media/maginors-maginors-400.otf);
}
/*CONTENIDO GRAL*/
html {
  overflow-x: hidden;
}

.navbar a {
  font-family: Maginors;
  color: #ffffff;
  font-size: 13px;
}
.navbar .nav-link:hover {
  color: #A228DF;
}

#footer .footer-top {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
  padding: 30px 0 30px 0;
}
#footer p {
  font-family: Maginors;
  color: #ffffff;
}
#footer a {
  font-family: "Jost", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

/*HOME*/
#home {
  background-image: url(../media/media-selva2.png);
  background-repeat: no-repeat;
}
#home .titulo {
  font-family: Maginors;
  color: #ffffff;
  margin-top: 350px;
}
#home .subt {
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
}
#home .subtitulo {
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
  margin-top: 20px;
}
#home .imagenes {
  margin-top: 20px;
}
#home .titulo-imagenes {
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
  margin-top: 20px;
}
#home .contenedor-banner1 img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
#home .contenedor-banner1 .capitulo-1 {
  font-family: Maginors;
  color: #ffffff;
  position: relative;
  margin-top: 550px;
  margin-left: 50px;
}
#home .contenedor-banner1 .subtexto1 {
  font-family: "Jost", sans-serif;
  color: #ffffff;
  margin-left: 50px;
}
#home .contenedor-banner2 img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
#home .contenedor-banner2 .capitulo-1 {
  font-family: Maginors;
  color: #ffffff;
  position: relative;
  margin-top: 550px;
  margin-left: 50px;
}
#home .contenedor-banner2 .subtexto1 {
  font-family: "Jost", sans-serif;
  color: #ffffff;
  margin-left: 50px;
}

/*BASTION*/
#bastion {
  background-image: url(../media/plaza-bastion.png);
  background-repeat: no-repeat;
}
#bastion #titulo-bastion {
  font-family: Maginors;
  color: white;
}
#bastion #texto-bastion {
  font-family: "Jost", sans-serif;
  color: white;
}
#bastion #contenido-historia1 {
  margin-left: 150px;
  margin-top: 150px;
}
#bastion #tarjeta {
  background-color: black;
  margin-top: 320px;
}
#bastion #tarjeta .card-title {
  font-size: 25px;
}

/*ACADEMIA*/
#academia {
  background-image: url(../media/biblio-academia.png);
  background-repeat: no-repeat;
}

#titulo-bastion {
  font-family: Maginors;
  color: white;
}

#texto-bastion {
  font-family: "Jost", sans-serif;
  color: white;
}

#contenido-historia1 {
  margin-left: 150px;
  margin-top: 150px;
}

#tarjeta {
  background-color: black;
  margin-top: 320px;
}
#tarjeta .card-title {
  font-size: 25px;
}

/*MEDIA*/
#media {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(67, 6, 147) 35%, rgb(55, 0, 255) 100%);
}
#media footer {
  margin-top: 50px;
}

.titulo-media {
  font-family: "maginors", serif;
  color: white;
}

/*UNETE*//*# sourceMappingURL=styles.css.map */