/* FUENTES --------------------------------------------------------------------
//MAVEN PRO BOLD: font-family: 'Maven Pro', sans-serif;
//MAGINORS: font-family: Maginors; 
//JOST: font-family: 'Jost', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@font-face {
  font-family: Maginors;
  src: url(../media/maginors-maginors-400.otf);
}
/*CONTENIDO GRAL*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*MIXIN*/
/*VARIABLES*/
/*NAVBAR*/
.navbar a {
  font-family: Maginors;
  color: #ffffff;
  font-size: 13px;
}
.navbar .nav-link:hover {
  color: #A228DF;
}
.navbar .navbar-toggler-icon {
  background-image: url(../media/navbar-toggler.svg);
}

/*FOOTER*/
#footer .footer-top {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
  padding: 30px 0 30px 0;
}
#footer p {
  font-family: Maginors;
  color: #ffffff;
}
#footer a {
  font-family: "Jost", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

/*HOME*/
#home {
  background-image: url(../media/media-selva2.png);
  background-repeat: no-repeat;
  overflow-x: hidden;
}
#home .titulo {
  font-family: Maginors;
  color: #ffffff;
  margin-top: 10px;
}
#home .logo-home {
  margin-top: 220px;
}
#home .subt {
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
}
#home .subtitulo {
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
  margin-top: 20px;
}
#home .imagenes {
  margin-top: 20px;
}
#home .titulo-imagenes {
  font-family: "Jost", sans-serif;
  color: #ffffff;
  margin-top: 20px;
}
#home .contenedor-banner1 .capitulos {
  font-family: Maginors;
  color: #ffffff;
}
#home .contenedor-banner1 img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
#home .contenedor-banner1 .capitulo-1 {
  font-family: Maginors;
  color: #ffffff;
  position: relative;
  margin-top: 550px;
  margin-left: 50px;
}
#home .contenedor-banner1 .subtexto1 {
  font-family: "Jost", sans-serif;
  color: #ffffff;
  margin-left: 50px;
}
#home .contenedor-banner2 img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
#home .contenedor-banner2 .capitulo-1 {
  font-family: Maginors;
  color: #ffffff;
  position: relative;
  margin-top: 550px;
  margin-left: 50px;
}
#home .contenedor-banner2 .subtexto1 {
  font-family: "Jost", sans-serif;
  color: #ffffff;
  margin-left: 50px;
}

/*BASTION*/
#bastion {
  background-image: url(../media/plaza-bastion.png);
  background-repeat: no-repeat;
  overflow-x: hidden;
}
#bastion #titulo-bastion {
  font-family: Maginors;
  color: #ffffff;
}
#bastion #texto-bastion {
  font-family: "Jost", sans-serif;
  color: #ffffff;
}
#bastion #contenido-historia1 {
  margin-left: 150px;
  margin-top: 150px;
}
#bastion .titulo-pj {
  font-family: Maginors;
  color: #ffffff;
}
#bastion #tarjeta {
  background-color: black;
  margin-top: 320px;
}
#bastion #tarjeta .card-title {
  font-size: 25px;
}
#bastion #tarjeta .card {
  border: solid 2px #ffffff;
}

/*ACADEMIA*/
#academia {
  background-image: url(../media/biblio-academia.png);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#titulo-bastion {
  font-family: Maginors;
  color: #ffffff;
}

#texto-bastion {
  font-family: "Jost", sans-serif;
  color: #ffffff;
}

#contenido-historia1 {
  margin-left: 150px;
  margin-top: 150px;
}

.titulo-pj {
  font-family: Maginors;
  color: #ffffff;
}

#tarjeta {
  background-color: black;
  margin-top: 320px;
}
#tarjeta .card-title {
  font-size: 25px;
}
#tarjeta .card {
  border: solid 2px #ffffff;
}

/*MEDIA*/
#media {
  background-image: url(../media/img-nubes-rev.png);
  background-repeat: no-repeat;
  overflow-x: hidden;
}
#media .media-sub {
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
  margin-top: 150px;
}
#media footer {
  margin-top: 50px;
}
#media .titulo-media {
  font-family: Maginors;
  color: #ffffff;
}
#media .video-2 {
  margin-top: 20px;
}
#media .video-2 iframe {
  height: 315px;
  width: 560px;
}

/*COMO JUGAR*/
#como-jugar {
  background-image: url(../media/skybox-azeroth.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
#como-jugar .titulo-cj {
  font-family: Maginors;
  color: #ffffff;
  margin-top: 50px;
}
#como-jugar .video {
  margin-top: 20px;
}
#como-jugar .video iframe {
  height: 315px;
  width: 560px;
}
#como-jugar .texto-cj {
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
  margin-top: 20px;
}

@media (max-width: 575.99px) {
  /*HOME*/
  #home .titulo-imagenes p {
    visibility: hidden;
  }
  #home .imagenes {
    margin-top: 20px;
  }
  #home .imagenes img {
    max-width: 350px;
    padding: 20px;
  }
  #home .contenedor-banner1 img {
    width: 100%;
    z-index: -1;
  }
  #home .contenedor-banner1 .capitulo-1 {
    margin-top: 250px;
    margin-left: 10px;
  }
  #home .contenedor-banner1 .subtexto1 {
    margin-left: 10px;
  }
  #home .contenedor-banner2 img {
    width: 100%;
    z-index: -1;
  }
  #home .contenedor-banner2 .capitulo-1 {
    margin-top: 250px;
    margin-left: 10px;
  }
  #home .contenedor-banner2 .subtexto1 {
    margin-left: 10px;
  }
  /*BASTION*/
  #bastion #contenido-historia1 {
    margin-left: 50px;
    margin-top: 50px;
  }
  /*ACADEMIA*/
  #academia #contenido-historia1 {
    margin-left: 50px;
    margin-top: 50px;
  }
  /*MEDIA*/
  #media .media-sub {
    font-family: "Maven Pro", sans-serif;
    color: #ffffff;
    margin-top: 150px;
  }
  #media .video-2 {
    margin-top: 10px;
  }
  #media .video-2 iframe {
    width: 350px;
    height: 200px;
  }
}
/*COMO JUGAR*/
#como-jugar .titulo-cj {
  margin-top: 20px;
}
#como-jugar .video {
  margin-top: 10px;
}
#como-jugar .video iframe {
  width: 350px;
  height: 200px;
}
#como-jugar .texto-cj {
  margin-top: 15px;
}/*# sourceMappingURL=styles.css.map */