/* FUENTES --------------------------------------------------------------------
//MAVEN PRO BOLD: font-family: 'Maven Pro', sans-serif;
//MAGINORS: font-family: Maginors; 
//JOST: font-family: 'Jost', sans-serif;*/

@font-face {
    font-family: Maginors;
    src: url(../media/maginors-maginors-400.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

/*CONTENIDO GRAL*/
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*MIXIN*/

@mixin titulos {
    font-family: Maginors;
    color: $color-texto;
}

@mixin subtitulos {
    font-family: 'Maven Pro', sans-serif;
    color: $color-texto;
}

@mixin texto-jost {
    font-family: 'Jost', sans-serif;
    color: $color-texto;
}

/*VARIABLES*/

$color-texto: #ffffff;

$color-hover: #A228DF;

/*NAVBAR*/

.navbar {
    a {
        @include titulos;
        font-size: 13px;
    }

    .nav-link:hover {
        color: $color-hover;
    }

    .navbar-toggler-icon {
        background-image: url(../media/navbar-toggler.svg);
    }
}

/*FOOTER*/

#footer {
    .footer-top {
        border-top: solid 1px $color-texto;;
        border-bottom: solid 1px $color-texto;;
        padding: 30px 0 30px 0;
    }

    p {
        @include titulos;
    }

    a {
        @include texto-jost;
        text-decoration: none;
    }
}

/*HOME*/
#home {
    background-image: url(../media/media-selva2.png);
    background-repeat: no-repeat;

    .titulo {
        @include titulos;
        margin-top: 350px;
    }

    .subt {
        @include subtitulos;
    }

    .subtitulo {
        @include subtitulos;
        margin-top: 20px;
    }

    .imagenes {
        margin-top: 20px;
    }

    .titulo-imagenes {
        @include subtitulos;
        margin-top: 20px;
    }

    .contenedor-banner1 {
        img {
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        .capitulo-1 {
            @include titulos;
            position: relative;
            margin-top: 550px;
            margin-left: 50px;
        }

        .subtexto1 {
            @include texto-jost;
            margin-left: 50px;
        }
    }

    .contenedor-banner2 {
        img {
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        .capitulo-1 {
            @include titulos;
            position: relative;
            margin-top: 550px;
            margin-left: 50px;
        }

        .subtexto1 {
            @include texto-jost;
            margin-left: 50px;
        }
    }
}

/*BASTION*/

#bastion {
    background-image: url(../media/plaza-bastion.png);
    background-repeat: no-repeat;

    #titulo-bastion {
        @include titulos;
    }

    #texto-bastion {
        @include texto-jost;
    }

    #contenido-historia1 {
        margin-left: 150px;
        margin-top: 150px;
    }

    .titulo-pj{
        @include titulos;
    }

    #tarjeta {
        background-color: black;
        margin-top: 320px;

        .card-title {
            font-size: 25px;
        }
    }
}

/*ACADEMIA*/

#academia {
    background-image: url(../media/biblio-academia.png);
    background-repeat: no-repeat;
}

#titulo-bastion {
    @include titulos;
    ;
}

#texto-bastion {
    @include texto-jost;
}

#contenido-historia1 {
    margin-left: 150px;
    margin-top: 150px;
}

.titulo-pj{
    @include titulos;
}

#tarjeta {
    background-color: black;
    margin-top: 320px;

    .card-title {
        font-size: 25px;
    }
}

/*MEDIA*/

#media {

    background-image: url(../media/img-nubes-rev.png);
    background-repeat: no-repeat;

    .media-sub {
        @include subtitulos();
        margin-top: 150px;
    }


    footer {
        margin-top: 50px;
    }
}

.titulo-media {
    @include titulos;
}

/*COMO JUGAR*/

#como-jugar {
    background-image: url(../media/skybox-azeroth.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    .titulo-cj {
        @include titulos;
        margin-top: 50px;
    }

    .video {
        margin-top: 20px;
    }

    .texto-cj {
        @include subtitulos;
        margin-top: 20px;
    }
}

@media (max-width: 412.99px) {

    /*HOME*/
    #home {
        .titulo-imagenes {
            p {
                visibility: hidden;
            }
        }

        .imagenes {
            margin-top: 20px;

            img {
                max-width: 380px;
                padding: 10px;
            }

        }

        .contenedor-banner1 {
            img {
                width: 100%;
                z-index: -1;
            }

            .capitulo-1 {
                margin-top: 250px;
                margin-left: 10px;
            }

            .subtexto1 {
                margin-left: 10px;
            }
        }

        .contenedor-banner2 {
            img {
                width: 100%;
                z-index: -1;
            }

            .capitulo-1 {
                margin-top: 250px;
                margin-left: 10px;
            }

            .subtexto1 {
                margin-left: 10px;
            }
        }
    }

    /*BASTION*/

    #bastion {

        #contenido-historia1 {
            margin-left: 50px;
            margin-top: 50px;
        }

    }

    /*ACADEMIA*/

    #academia {

        #contenido-historia1 {
            margin-left: 50px;
            margin-top: 50px;
        }

    }

    /*MEDIA*/

    #media {

        .media-sub {
            @include subtitulos;
            margin-top: 150px;
        }

        .video-2 {
            aspect-ratio: 16 / 9;
            width: 100%;
        }
    }

    /*COMO JUGAR*/

    #como-jugar {

        .embed-container {
            aspect-ratio: 16 / 9;
            width: 100%;
        }

        .titulo-cj {
            margin-top: 20px;
        }

        .video {
            margin-top: 10px;
        }

        .texto-cj {
            margin-top: 15px;
        }
    }



}