/* FUENTES --------------------------------------------------------------------
//MAVEN PRO BOLD: font-family: 'Maven Pro', sans-serif;
//MAGINORS: font-family: Maginors; 
//JOST: font-family: 'Jost', sans-serif;*/

@font-face {
    font-family: Maginors;
    src: url(../media/maginors-maginors-400.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

/*CONTENIDO GRAL*/
html {
    overflow-x: hidden;
}

.navbar {
    a {
        font-family: Maginors;
        color: #ffffff;
        font-size: 13px;
    }

    .nav-link:hover {
        color: #A228DF;
    }
}

#footer {
    .footer-top {
        border-top: solid 1px #ffffff;
        border-bottom: solid 1px #ffffff;
        padding: 30px 0 30px 0;
    }

    p {
        font-family: Maginors;
        color: #ffffff;
    }

    a {
        font-family: 'Jost', sans-serif;
        color: #ffffff;
        text-decoration: none;
    }
}

/*HOME*/
#home {
    background-image: url(../media/media-selva2.png);
    background-repeat: no-repeat;

    .titulo {
        font-family: Maginors;
        color: #ffffff;
        margin-top: 350px;
    }

    .subt {
        font-family: 'Maven Pro', sans-serif;
        color: #ffffff;
    }

    .subtitulo {
        font-family: 'Maven Pro', sans-serif;
        color: #ffffff;
        margin-top: 20px;
    }

    .imagenes {
        margin-top: 20px;
    }

    .titulo-imagenes {
        font-family: 'Maven Pro', sans-serif;
        color: #ffffff;
        margin-top: 20px;
    }

    .contenedor-banner1 {
        img {
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        .capitulo-1 {
            font-family: Maginors;
            color: #ffffff;
            position: relative;
            margin-top: 550px;
            margin-left: 50px;
        }

        .subtexto1 {
            font-family: 'Jost', sans-serif;
            color: #ffffff;
            margin-left: 50px;
        }
    }

    .contenedor-banner2 {
        img {
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        .capitulo-1 {
            font-family: Maginors;
            color: #ffffff;
            position: relative;
            margin-top: 550px;
            margin-left: 50px;
        }

        .subtexto1 {
            font-family: 'Jost', sans-serif;
            color: #ffffff;
            margin-left: 50px;
        }
    }
}

/*BASTION*/

#bastion {
    background-image: url(../media/plaza-bastion.png);
    background-repeat: no-repeat;

    #titulo-bastion {
        font-family: Maginors;
        color: white;
    }

    #texto-bastion {
        font-family: "Jost", sans-serif;
        color: white;
    }

    #contenido-historia1 {
        margin-left: 150px;
        margin-top: 150px;
    }

    #tarjeta {
        background-color: black;
        margin-top: 320px;

        .card-title {
            font-size: 25px;
        }
    }
}

/*ACADEMIA*/

#academia {
    background-image: url(../media/biblio-academia.png);
    background-repeat: no-repeat;
}

#titulo-bastion {
    font-family: Maginors;
    color: white;
}

#texto-bastion {
    font-family: "Jost", sans-serif;
    color: white;
}

#contenido-historia1 {
    margin-left: 150px;
    margin-top: 150px;
}

#tarjeta {
    background-color: black;
    margin-top: 320px;

    .card-title {
        font-size: 25px;
    }
}

/*MEDIA*/

#media {

    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(67, 6, 147, 1) 35%, rgba(55, 0, 255, 1) 100%);


    footer {
        margin-top: 50px;
    }
}

.titulo-media {
    font-family: "maginors", serif;
    color: white;
}

/*UNETE*/