/* FUENTES --------------------------------------------------------------------
//MAVEN PRO BOLD: font-family: 'Maven Pro', sans-serif;
//MAGINORS: font-family: Maginors; 
//JOST: font-family: 'Jost', sans-serif;*/

@font-face {
    font-family: Maginors;
    src: url(../media/maginors-maginors-400.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

/*CONTENIDO GRAL*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*MIXIN*/

@mixin titulos {
    font-family: Maginors;
    color: $color-texto;
}

@mixin subtitulos {
    font-family: 'Maven Pro', sans-serif;
    color: $color-texto;
}

@mixin texto-jost {
    font-family: 'Jost', sans-serif;
    color: $color-texto;
}

/*VARIABLES*/

$color-texto: #ffffff;

$color-hover: #A228DF;

/*NAVBAR*/

.navbar {
    a {
        @include titulos;
        font-size: 13px;
    }

    .nav-link:hover {
        color: $color-hover;
    }

    .navbar-toggler-icon {
        background-image: url(../media/navbar-toggler.svg);
    }
}

/*FOOTER*/

#footer {
    .footer-top {
        border-top: solid 1px $color-texto;
        ;
        border-bottom: solid 1px $color-texto;
        ;
        padding: 30px 0 30px 0;
    }

    p {
        @include titulos;
    }

    a {
        @include texto-jost;
        text-decoration: none;
    }

}

/*HOME*/
#home {
    background-image: url(../media/media-selva2.png);
    background-repeat: no-repeat;
    overflow-x: hidden;


    .titulo {
        @include titulos;
        margin-top: 10px;
    }

    .logo-home {
        margin-top: 150px;
    }

    .subt {
        @include subtitulos;
        margin-bottom: 100px;
    }

    .subtitulo {
        @include subtitulos;
        margin-top: 20px;
    }

    .imagenes {
        margin-top: 20px;
    }

    .titulo-imagenes {
        @include texto-jost;
        margin-top: 20px;
    }

    .contenedor-banner1 {

        .capitulos {
            @include titulos;
            margin-top: 100px;
        }

        img {
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        .capitulo-1 {
            @include titulos;
            position: relative;
            margin-top: 550px;
            margin-left: 50px;
        }

        .subtexto1 {
            @include texto-jost;
            margin-left: 50px;
        }
    }

    .contenedor-banner2 {
        img {
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        .capitulo-1 {
            @include titulos;
            position: relative;
            margin-top: 550px;
            margin-left: 50px;
        }

        .subtexto1 {
            @include texto-jost;
            margin-left: 50px;
        }
    }
}

/*BASTION*/

#bastion {
    background-image: url(../media/plaza-bastion.png);
    background-repeat: no-repeat;
    overflow-x: hidden;



    #titulo-bastion {
        @include titulos;
    }

    #texto-bastion {
        @include texto-jost;
    }

    #contenido-historia1 {
        margin-left: 150px;
        margin-top: 150px;
    }

    .titulo-pj {
        @include titulos;
    }

    #tarjeta {
        background-color: black;
        margin-top: 320px;


        .card-title {
            font-size: 25px;
        }

        .card {
            border: solid 2px #ffffff;
        }
    }
}

/*ACADEMIA*/

#academia {
    background-image: url(../media/biblio-academia.png);
    background-repeat: no-repeat;
    overflow-x: hidden;

}

#titulo-bastion {
    @include titulos;
    ;
}

#texto-bastion {
    @include texto-jost;
}

#contenido-historia1 {
    margin-left: 150px;
    margin-top: 150px;
}

.titulo-pj {
    @include titulos;
}

#tarjeta {
    background-color: black;
    margin-top: 320px;

    .card-title {
        font-size: 25px;
    }

    .card {
        border: solid 2px #ffffff;
    }
}

/*MEDIA*/

#media {

    background-image: url(../media/img-nubes-rev.png);
    background-repeat: no-repeat;
    overflow-x: hidden;


    .media-sub {
        @include subtitulos();
        margin-top: 150px;
    }


    footer {
        margin-top: 50px;
    }


    .titulo-media {
        @include titulos;
    }

    .video-2 {
        margin-top: 20px;

        iframe {
            height: 315px;
            width: 560px;
        }
    }

}


/*FAQ*/

#faq {
    background-image: url(../media/skybox-azeroth.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;


    .titulo-cj {
        @include titulos;
        margin-top: 50px;
    }

    .preguntas {

        li {
            @include subtitulos;
            list-style-type: "✧";
        }

        p {
            @include texto-jost;
        }

    }

    .video-1 {
        margin-top: 20px;
        margin-bottom: 20px;

        iframe {
            height: 315px;
            width: 560px;
        }
    }
}

/*QUERIE MOBILE*/

@media (max-width: 575.99px) {

    /*HOME*/
    #home {

        .titulo-imagenes {
            p {
                visibility: hidden;
            }
        }

        .imagenes {
            margin-top: 20px;

            img {
                max-width: 350px;
                padding: 20px;
            }

        }

        .contenedor-banner1 {
            img {
                width: 100%;
                z-index: -1;
            }

            .capitulo-1 {
                margin-top: 250px;
                margin-left: 10px;
            }

            .subtexto1 {
                margin-left: 10px;
            }

            .capitulos{
                margin-top: 10px;
            }
        }

        .contenedor-banner2 {
            img {
                width: 100%;
                z-index: -1;
            }

            .capitulo-1 {
                margin-top: 250px;
                margin-left: 10px;
            }

            .subtexto1 {
                margin-left: 10px;
            }
        }
    }

    /*BASTION*/

    #bastion {

        #contenido-historia1 {
            margin-left: 50px;
            margin-top: 50px;
        }

    }

    /*ACADEMIA*/

    #academia {

        #contenido-historia1 {
            margin-left: 50px;
            margin-top: 50px;
        }

    }

    /*MEDIA*/

    #media {

        .media-sub {
            @include subtitulos;
            margin-top: 150px;
        }

        .video-2 {
            margin-top: 10px;

            iframe {
                width: 350px;
                height: 200px;
            }
        }

    }



   /*FAQ*/

    #faq {


      .titulo-cj {
        margin-top: 20px;
       }

      .video-1 {
        margin-top: 10px;

        iframe {
            width: 350px;
            height: 200px;
        }
    }

    .texto-cj {
        margin-top: 15px;
    }

  }
}

/*QUERIE TABLET*/

@media (min-width: 575.99px) and (max-width: 1280.99px) {

    /*HOME*/
    #home {

        .titulo-imagenes {
            p {
                visibility: hidden;
            }
        }

        .imagenes {
            margin-top: 20px;

            img {
                max-width: 800px;
                padding: 20px;
            }

        }

        .contenedor-banner1 {
            img {
                width: 100%;
                z-index: -1;
            }

            .capitulo-1 {
                margin-top: 250px;
                margin-left: 10px;
            }

            .subtexto1 {
                margin-left: 10px;
            }
        }

        .contenedor-banner2 {
            img {
                width: 100%;
                z-index: -1;
            }

            .capitulo-1 {
                margin-top: 250px;
                margin-left: 10px;
            }

            .subtexto1 {
                margin-left: 10px;
            }
        }
    }

}