/*-----------------------------------------------FUENTES-----------------------------------------------
MAVEN PRO BOLD: font-family: 'Maven Pro', sans-serif;
MAGINORS: font-family: Maginors; 
JOST: font-family: 'Jost', sans-serif;
*/

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

@font-face {
  font-family: Maginors;
  src: url(media/maginors-maginors-400.otf);
}

/*-----------------------------------------------backgrounds-----------------------------------------------*/

#home {
  background-image: url(media/skyboxhome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#historia {
  background-image: url(media/plaza-bastion.png);
  overflow-x: hidden;
  background-size: cover;
}

#historia2 {
  background-image: url(media/biblio-academia.png);
  overflow-x: hidden;
  background-size: cover;
}

#personajes {
  background: rgb(15, 175, 119);
  background: radial-gradient(circle,
      rgba(15, 175, 119, 1) 0%,
      rgba(7, 65, 48, 1) 100%);
}

#media {
  background-image: url(media/fondo-nubes.png);
  overflow-x: hidden;
  background-size: cover;
}

/*-----------------------------------------------Query 1-----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

@media (min-width: 412px) and (max-width: 575px) {
  #historia {
    background-image: url(media/faro-bastion.png);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-repeat: no-repeat;
  }


  #historia2 {
    background-image: url(media/comedor-academia.png);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center;
  }

  /*-----------------------------------------------Header-navbar-----------------------------------------------*/

  nav {
    background-color: black;
  }

  .navbar button {
    color: white;
  }

  .navbar a {
    color: white;
    font-family: Maginors;
    font-size: 15px;
  }

  .navbar ul {
    margin-right: 100px;
  }

  /*-----------------------------------------------contenido-home-----------------------------------------------*/

  .contenedor-grid {
    padding: 10px;
  }

  .titulo {
    font-family: Maginors;
    color: white;
    font-size: 50px;
    margin-left: 85px;
    text-align: center;
    margin-top: 20px;
  }

  .subtitulo1 {
    font-family: Maginors;
    color: white;
  }

  .contenedor-logos img {
    padding: 20px;
  }

  .contenedor-titulos p {
    font-family: Maginors;
    color: white;
  }

  .contenedor-desc p {
    font-family: "Jost", sans-serif;
    color: white;
  }

  .contenedor-youtube {
    visibility: hidden;
    overflow: hidden;
    width: 100%;
  }

  /*-----------------------------------------------CONTENIDO BASTION-ACADEMIA-----------------------------------------------*/

  #titulo-bastion {
    font-family: "maginors", serif;
    color: white;
  }

  #texto-bastion {
    font-family: "Jost", sans-serif;
    color: white;
  }

  #contenido-historia1 {
    margin-left: 10px;
    margin-top: 80px;
  }

  /*-----------------------------------------------contenido personajes-----------------------------------------------*/

  

  /*-----------------------------------------------Contenido Media-----------------------------------------------*/

  .titulo-media {
    font-family: "maginors", serif;
    color: white;
  }

  /*-----------------------------------------------footer-----------------------------------------------*/

  footer a {
    font-family: "Jost", sans-serif;
    color: white;
  }

  footer span {
    visibility: hidden;
    font-family: "Jost", sans-serif;
    color: white;
  }
}








/*-----------------------------------------------Query 2-----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/



@media (min-width: 1200.99px) {
  /*-----------------------------------------------Header-navbar-----------------------------------------------*/

  nav {
    margin-top: 30px;
  }

  .navbar-brand {
    margin-left: 100px;
  }

  .navbar a {
    color: white;
    font-family: Maginors;
    font-size: 15px;
  }

  .navbar ul {
    margin-right: 100px;
  }

  /*-----------------------------------------------contenido-home-----------------------------------------------*/

  .contenedor-grid {
    padding: 100px;
  }

  .titulo {
    font-family: Maginors;
    color: white;
    font-size: 120px;
  }

  .subtitulo1 {
    font-family: Maginors;
    color: white;
  }

  .contenedor-logos img {
    padding: 20px;
  }

  .contenedor-titulos p {
    font-family: Maginors;
    color: white;
  }

  .contenedor-desc p {
    font-family: "Jost", sans-serif;
    color: white;
  }

  .contenedor-youtube {
    overflow: hidden;
    width: 100%;
  }

  /*-----------------------------------------------CONTENIDO BASTION-ACADEMIA-----------------------------------------------*/

  #titulo-bastion {
    font-family: "maginors", serif;
    color: white;
    font-size: 50px;
  }

  #texto-bastion {
    font-family: "Jost", sans-serif;
    color: white;
    font-size: 20px;
  }

  #contenido-historia1 {
    margin-left: 50px;
    margin-top: 100px;
  }

  /*-----------------------------------------------CONTENIDO MEDIA-----------------------------------------------*/

  .titulo-media {
    font-family: "maginors", serif;
    color: white;
  }

  #carrusel h5 {
    font-family: "maginors", serif;
  }

  /*-----------------------------------------------footer-----------------------------------------------*/

  footer a {
    font-family: "Jost", sans-serif;
    color: white;
  }

  footer span {
    font-family: "Jost", sans-serif;
    color: white;
  }

  /*-----------------------------------------------CONTENIDO PERSONAJES-----------------------------------------------*/

  .contenedor-personajes p {
    font-family: "Jost", sans-serif;
    color: white;
  }
}

a {
  text-decoration: none;
  color: white;
}